body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
}

.text {
    padding: 141px 138px 120px 122px;
    box-shadow: 0 4px 68px rgba(0, 0, 0, 0.1);
    margin-left: 100px;
    margin-right: 130px;
}

.headline {
    font-family: 'Playfair Display', serif;
    color: #171717;
    font-size: 42px;
}

p {
    font-family: 'Lato', sans-serif;
    color: #171717;
    font-size: 18px;
    opacity: 0.7;   
    line-height: 40px;
}

.footer {
    font-style: italic;
    font-size: 23px;
}

.footer::before {
    content: "“";
    font-size: 50px;
}

.button {
    width: 261px;
    height: 65px;
    border: 2px solid #EAA258;
    margin: 0 0;

}

a {
    display: block;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: #EAA258;
    font-size: 18px;
    height: 75%;
    text-align: center;
    padding-top: 20px;

    
    
}
.latter::first-letter {
    font-size: 80px;
    opacity: 1;
    font-family: 'Playfair Display', serif;
    float: left;
    padding:18px 20px 20px 0;
}

.button:hover {
    background-color: #EAA258;
    

}

.button:hover a {
    color: white;
}